<div class="container mt-4">
  <h1 class="mb-4">Result</h1>

  <p><%= @result %></p>

  <a href="<%= new_path %>" class="text-decoration-none">Play again</a>
  <p>Your word made <%= @points %> points.</p>
  <p>You have <%= @points_accumulated %> points accumulated.</p>
</div>
